<!DOCTYPE html5>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/picocss/1.5.10/pico.classless.min.css"
        integrity="sha512-EvC9tWIAGKq2kEWOcRC+w0JWMaEoQPJ52ZVFLJMT/0Ri3Wq3QPZ/IYGTgfY+buUV1P2NDNiU8w6sXfVUxxcq0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <h2>Innovator Hive 2023: Invoice Approval Demo</h2>
    </header>
    <main>
        <form method="post" enctype="multipart/form-data">
            <div>
                <label for="upload">Select files to be uploaded: </label>
                <input type="file" id="upload" name="upload" multiple />
            </div>

            <div>
                <button>Submit</button>
            </div>
        </form>
    </main>
    <footer>
        <p>
            Running on <a href="https://cloud.run">cloud.run</a>
        </p>
        <p>
            <a href="https://cloudonair.withgoogle.com/events/summit-innovatorshive-connect-stockholm-2023"
                target="_blank">
                Innovator Hive Stockholm 2023</a>
        </p>
    </footer>
</body>

</html>
